@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Cormorant:ital,wght@1,600&family=Cutive+Mono&family=DotGothic16&family=EB+Garamond:ital,wght@1,400;1,600&family=Knewave&family=Lexend+Zetta:wght@600&family=Mea+Culpa&family=Moo+Lah+Lah&family=Noto+Sans&family=Roboto+Mono:ital,wght@1,500&family=Rubik+Beastly&display=swap');



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    cursor: url(https://cur.cursors-4u.net/cursors/cur-9/cur816.cur), auto !important;
    

}

body{ 
    background-image: url('background.png');
    height: 5720px;
    position: relative;
    overflow-x: hidden; 
    overflow-y: auto;
}

a {
    text-decoration: none;
    color: black; 
}

a:hover{
    color: transparent; 
    text-shadow: 0 0 2px #000; 
    transition: all 250ms ease-in; 
}

::-webkit-scrollbar {
    background: #fff;
    height: 10px;
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: transparent;
    background: #e1e0f5;
}


audio{
  display: block;
  margin: auto;
  position: relative;
  top: 5%;
  opacity: 40%;
  
}





.titlecircle {
    width: 300px;
    height: 170px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    flex-direction: column;
    background-color: #ffffff5e;
    position: absolute;
    top: 80px;
    right: 50%;
    margin-right: -150px;
}


.title_lalala {

    font-size: 8pt;
    font-family: 'EB Garamond', serif;
    letter-spacing: 1px;
    text-decoration: wavy overline white 1px;

}


.title_thats {
    font-family: 'EB Garamond', serif;
    font-size: 8pt;
    letter-spacing: 1px;
    text-decoration: wavy underline white 1px;



}

.title_by {
    font-family: 'Cutive Mono', monospace;
    font-size: 8pt;
    letter-spacing: 1px;
    padding-top: 20px;


}

.title_design {
    font-family: 'Cutive Mono', monospace;
    font-size: 8pt;
}




.circle {
    position: absolute;
    border: 1px solid #fff;
    top: 25px;
    left: 25px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: #ffffff5e;}

.slide_updown{ 
    animation: slide_updown 5s alternate infinite;

}

@keyframes slide_updown {
    0% {
      transform: translateY(-30%);
    }
  
    100% {
      transform: translateY(30%);
    }
}

.slide_side{
    animation: slide_side 3s alternate infinite;
}

@keyframes slide_side {
    0% {
      transform: translateX(-50%);
    }
  
    100% {
      transform: translate(50%);
    }
}


#circle1{
    width: 340px;
    height: 300px;
    position: absolute;
    left:5%;
    top:30%;
}

#circle2 {
    width: 150px;
    height: 100px;
    border: 1px solid rgb(255, 79, 47);
    background-color: #fff;
    left: 16%;
    top: 90%;

}

#circle3{
    position: absolute;
    background-color:rgba(255, 255, 213, 0.486);
    left:5%;
    top:9%;
    z-index: 1;
    width: 30px;
    height:30px;
}

#circle4{
    position: absolute;
    background-color:rgba(127, 207, 218, 0.486);
    left:17%;
    top:10.5%;
    z-index: 1;
    width: 70px;
    height: 70px;
    animation: slide_side 4s alternate infinite;

}

#circle5{
    position: absolute;
    left:11%;
    top:13%;
    z-index: 1;
    width: 20px;
    height: 20px;
    animation: slide_side 2s alternate infinite;

}

#circle6{
    background-color:rgb(255, 255, 255);
    border: solid 1px rgb(255, 0, 119);
    position: absolute;
    left:16%;
    top:67%;
    width: 50px;
    height: 50px;

}



.rotate{
    animation: rotate 13s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pulse {
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
      transform: scale(0.1, 0.1);
    }
    
    50% {
        transform: scale(1.2, 1.2);
        opacity: 1.0;
    }
    
    100% {
      transform: scale(0.1, 0.1);
    }
  }

#star1{
    font-size: 120pt;
    color:rgba(255, 255, 255, 0.267);
    -webkit-text-stroke: 1px #fff;
    position: absolute;
    left:73%;
    top:13%;
}

#star2{
    font-size: 70pt;
    -webkit-text-stroke: 1px rgb(23, 119, 184);
    color:rgb(255, 255, 255);
    position: absolute;
    left:60%;
    top:20%;    

}

#star3{
    font-size: 70pt;
    -webkit-text-stroke: 1px rgb(166, 255, 0);
    color:rgba(255, 255, 255, 0.308);
    position: absolute;
    left:25%;
    top:29%;  
    z-index: 1;  

}

#star4{
    font-size: 70pt;
    color:rgb(255, 255, 255);
    position: absolute;
    left:18%;
    top:24%;    

}

#star5{
    font-size: 1200pt;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    color:rgba(255, 255, 255, 0.11);
    position: absolute;
    left:-20%;
    top:6%;  
    z-index: 0;  
}

#star6{
    font-size: 1200pt;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    color:rgba(255, 255, 255, 0.11);
    position: absolute;
    left:60%;
    top:27%;  
}

#star7{
    font-size: 1200pt;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    color:rgba(255, 255, 255, 0.11);
    position: absolute;
    left:25%;
    top:47%;  

}

#star8{
    font-size: 1200pt;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    color:rgba(255, 255, 255, 0.11);
    position: absolute;
    left:39%;
    top:60%;  
    z-index: 0;  
}

#star9{
    font-size: 1200pt;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    color:rgba(255, 255, 255, 0.11);
    position: absolute;
    left:-17%;
    top:40%;  


}

#star10{
    font-size: 1200pt;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    color:rgba(255, 255, 255, 0.11);
    position: absolute;
    left:1%;
    top:60%;  
}


#star11{
    font-size: 120pt;
    color:rgba(0, 255, 170, 0.267);
    -webkit-text-stroke: 1px rgb(117, 117, 117);
    position: absolute;
    left:55%;
    top:38%;
}

#star12{
    font-size: 40pt;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    color:rgba(0, 0, 0, 0.185);
    position: absolute;
    left:13%;
    top:42%;    
}

#star13{
    font-size: 120pt;
    -webkit-text-stroke: 1px rgb(60, 255, 0);
    color:rgba(255, 255, 255, 0.308);
    position: absolute;
    left:18%;
    top:44%; 
    z-index: 1;   
}

#star14{
    font-size: 360pt;
    -webkit-text-stroke: 1px rgb(146, 134, 255, 0.459);
    color:rgba(255, 255, 255, 0.459);
    position: absolute;
    left:3%;
    top:48%; 
    z-index: 0;   
}


#star15{
    font-size:200pt;
    position: absolute;
    left:77%;
    top:61%;
    -webkit-text-stroke: 1px rgb(205, 241, 0);
    color:rgba(213, 255, 166, 0.534)
}


#star16{ 
    font-size:50pt;
    position: absolute;
    left:25%;
    top:76%;
    color:rgb(217, 255, 0);
    -webkit-text-stroke: 1px rgb(0, 0, 0);

}


#star17{ 
    font-size:70pt;
    position: absolute;
    left:77%;
    top:70%;
    color:rgb(144, 215, 224);
    -webkit-text-stroke: 1px

}

#star18{ 
    font-size:200pt;
    position: absolute;
    left:33%;
    top:80%;
    color:rgba(255, 255, 255, 0);
    -webkit-text-stroke: 1px rgb(255, 153, 0);

}

#star19{ 
    font-size:70pt;
    position: absolute;
    left:30%;
    top:88%;
    color:rgba(255, 255, 255, 0.308);
    -webkit-text-stroke: 1px rgb(54, 190, 127);

}

#star20{ 
    font-size:80pt;
    position: absolute;
    left:80%;
    top:92%;
    color:rgba(255, 255, 255, 0.623);
    -webkit-text-stroke: 1px rgb(255, 145, 0);

}

#star21{
    font-size: 800pt;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    color:rgba(255, 255, 255, 0.11);
    position: absolute;
    left:20%;
    top:77%;  
    z-index: -1; 

}




#type1{
    font-family: 'Roboto Mono', monospace;
    font-size: 13pt;
    z-index: 1;
}

#type2{ 
    font-size: 8pt;
    font-family: 'EB Garamond', serif;
    letter-spacing: 10px;
    text-decoration: wavy overline rgb(75, 154, 179) 1px;
    color:white;
    z-index: 1;
    position: absolute;
    top: 7%;
    left: -3%;
    animation: slide_side2 10s alternate infinite;
}


@keyframes slide_side2 {
    0% {
      transform: translateX(-10%);
    }
  
    100% {
      transform: translate(-3%);
    }
}

#type3{ 
    font-size: 8pt;
    font-family: 'EB Garamond', serif;
    letter-spacing: 10px;
    text-decoration: dotted underline rgb(75, 154, 179) 4px;
    z-index: 1;
    position: absolute;
    top: 10%;
    left: 90%;
    animation: slide_updown 16s alternate infinite;

}

#type4{ 
    font-family: 'Arbutus', cursive;
    font-size: 24pt;
    position: absolute;
    left:5%;
    top:9%;
    color:rgb(243, 243, 243);
}

#type5{ 
    font-family: 'Rubik Beastly', cursive;
    font-size: 70pt;
    position: absolute;
    left:17%;
    top:10.5%;
    color:rgba(95, 95, 95, 0);
    -webkit-text-stroke: 1px rgb(255, 145, 0);

}

#type6{ 
    font-family: 'Cutive Mono', monospace;
    font-size: 10pt;
    position: absolute;
    left:11%;
    top:13%;
    color:rgb(0, 0, 0);
}

#type7{ 
    font-family: 'EB Garamond', serif;
    font-size: 80pt;
    position: absolute;
    left:35%;
    top:17%;
    color:#ffffff00;
    -webkit-text-stroke: 2px rgb(251, 255, 0);
}

#type8{ 
    font-family: 'Rubik Beastly', cursive;    
    font-size: 80pt;
    position: absolute;
    left:45%;
    top:15%;
    color:#8383835e;
    -webkit-text-stroke: 1px #fff;
}

#type9{ 
    font-family: 'EB Garamond', serif;
    font-size: 80pt;
    position: absolute;
    left:25%;
    top:47%;
    color: #fffc62ab;
    -webkit-text-stroke: 1px rgb(194, 194, 194);  
    transform-origin: 500px;
    z-index: 2;
}

#type10{
    font-family: 'Roboto Mono', monospace;
    font-size: 100pt;
    z-index: 1;
    position: absolute;
    left:55%;
    top:28%;
    animation: slide_updown 5s alternate infinite;
    color:#ff75cab6;
}

#type11{
    font-size: 8pt;
    font-family: 'EB Garamond', serif;
    letter-spacing: 10px;
    text-decoration: dotted overline rgb(255, 163, 120) 4px;
    z-index: 1;
    position: absolute;
    top: 56%;
    left: 5%;
    animation: slide_updown 16s alternate infinite;

}

#type12{ 
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 80pt;
    position: absolute;
    left:67%;
    top:85%;
    color:#ffffff;
    -webkit-text-stroke: 1px rgb(121, 155, 89);
}

#type13{
    font-family: 'EB Garamond', serif;
    font-size: 14pt;
    z-index: 1;
    position: absolute;
    left:25%;
    top:35%;
    color:#0084ffb6;
    animation: slide_side 2s alternate infinite;
    text-decoration: underline rgb(238, 255, 0) 2px;

}

#type14{
    font-family: 'Mea Culpa', cursive;
    position: absolute;
    left:22%;
    top:45%;
    font-size: 60pt;
    color:rgba(0, 0, 0, 0.171);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

#type15{
    font-family: 'Moo Lah Lah', cursive;
    font-size: 50pt;
    z-index: 0;
    position: absolute;
    left:78%;
    top:53%;
    color:#ffffff33;
    -webkit-text-stroke: 1px rgb(0, 255, 34);
}

#type16{
    font-family: 'Moo Lah Lah', cursive;
    font-size: 50pt;
    z-index: 0;
    position: absolute;
    left:73%;
    top:53.5%;
    color:#ffffff00;
    -webkit-text-stroke: 1px rgb(90, 71, 179);
}

#type17{
    font-size: 100px;
    font-family: 'Lexend Zetta', sans-serif;
    position:absolute;
    left: 10%;
    top:58%;
    color:rgb(57, 218, 129);
    animation: slide_side 9s alternate infinite;
}

#type18{ 
    font-family: 'Rubik Beastly', cursive;
    font-size: 70pt;
    position: absolute;
    left:16%;
    top:59%;
    color:rgba(95, 95, 95, 0);
    -webkit-text-stroke: 1px rgb(93, 144, 255);
    z-index: -1;

}

#type19{
    font-family: 'DotGothic16', sans-serif;
    font-size: 70pt;
    position: absolute;
    left:60%;
    top:64%;
    color:rgba(95, 95, 95, 0);
    -webkit-text-stroke: 1px #ffc400;
    z-index: 1;

}

#type20{
    font-family: 'Knewave', cursive;
    font-size:50pt;
    position: absolute;
    left:76%;
    top:66%;
    color:rgb(255, 255, 255);
    z-index: 0;
    
}

#type21{
    font-family: 'Noto Sans', sans-serif;
    font-size:50pt;
    position: absolute;
    left:26%;
    top:66%;
    color:rgba(255, 255, 255, 0);
    -webkit-text-stroke: 1px rgba(255, 0, 0, 0.671);
    z-index: 0;
    text-decoration: wavy underline 2px #fff;
}

#type22{
    font-family: 'EB Garamond', serif;
    font-size: 60pt;
    position: absolute;
    left:60%;
    top:73%;
    -webkit-text-stroke: 1px rgba(162, 0, 255, 0.671);
    color:rgba(206, 206, 206, 0);
    transform-origin: -150px;
}

#type23{
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 80pt;
    position: absolute;
    left:73%;
    top:86%;
    color:#ffffff00;
    -webkit-text-stroke: 1px rgb(255, 0, 179);
    

}

#type24{
    font-family: 'EB Garamond', serif;
    font-size: 80pt;
    position: absolute;
    left:8%;
    top:89%;
    color:#ffffff00;
    -webkit-text-stroke: 1px rgb(0, 4, 255);
    text-decoration: dashed underline 4px #a5d2ff;

}

#type25{
    font-family: 'Mea Culpa', cursive;
    font-size: 80pt;
    position: absolute;
    left:53%;
    top:95%;
    color:#ffffff00;
    -webkit-text-stroke: 1px rgb(29, 29, 29);
    animation: slide_side 10s alternate infinite;
    text-decoration: dotted underline 4px #c8ff00;

}